<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ping.host" value="localhost:80"/>
    <add key="ping.uri" value="BizAgiR110x/jquery/version.json.txt"/>
    <add key="fact.host" value="localhost:8000"/>
    <add key="fact.uri" value="api/webhook/pingperformed"/>
    <add key="lapse" value="30"/>
    <add key="node" value="909a46dd-a2f4-4cad-b18a-04c38770486b"/>
    <add key="environment" value="776aea16-a0ad-4d41-97f7-41688d07e2d8"/>
  </appSettings>
</configuration>